ion-header {
    --background: transparent;
    --border-color: transparent;
}

ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

ion-content {
    --offset-top: 0px;
    position: absolute;
}